<manifest xmlns:android="http://schemas.android.com/apk/res/android"><uses-permission android:name="android.permission.INTERNET" /><application android:theme="@style/Theme.Hurry" android:label="Hurry" android:icon="@drawable/hurry_logo" android:roundIcon="@drawable/hurry_logo"><activity android:name=".MainActivity" android:screenOrientation="portrait" android:exported="true" android:windowSoftInputMode="adjustResize" android:enableOnBackInvokedCallback="false"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity></application></manifest>